@page "/parent-one"
@page "/parent-one/{id}"

@layout EmployeeLayout
@attribute [Authorize(Roles = "admin")]

<h3>State Management Example / Communication</h3>

<div style="border:2px dotted black; height:925px; width:800px;" class="p-3">
    <h3>Parent One</h3>

    <div style="color:blue">2 - Referencing element (Use of @@ref): @somethingDone</div>
    <div style="color:purple">3 - EventCallback (Message on save): @messageOnSaved</div>
    <div style="color:red">4 - Example of path parameter (Id): @Id</div>
    <div style="color:saddlebrown">5 - Example of query parameter (Name): @name</div>
    <button class="btn btn-primary" @onclick="setTime">6 - App State Service: Set Date & Time</button>
    <span>@appStateService.Time</span>
    <br />
    <input class="form-control" @bind-value="cascadingAppState.Message" @bind-value:event="oninput" placeholder="7 - CascadingAppState: Enter value here" />
    <br />
    <ChildOne @ref="childOne" OnSaved="@((m) => messageOnSaved = m)" Name="@parentToChild" />
    <br />
    <ChildTwo />
</div>


@code {


}

