@page "/test-example-2"
@layout EmployeeLayout
@attribute [AllowAnonymous]


<h3>Test Example 2</h3>
<br />

<button id="getPhotos_1" class="btn btn-primary mr-4" @onclick="getPhotos_1">getPhotos_1</button>
<button id="getPhotos_2" class="btn btn-primary mr-4" @onclick="getPhotos_2">getPhotos_2</button>
<button id="clearPhotos" class="btn btn-primary" @onclick="clearPhotos">Clear</button>

@if (takingLong)
{
    <div class="center fa-3x">
        <i class="fas fa-spinner fa-pulse"></i>
    </div>
}

@if (photos.Count() > 0)
{
    <br />
    <br />
    <div id="countOfPhoto">Count of photos: @photos.Count()</div>
    <br />

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Album ID</th>
                <th>Title</th>
                <th>Big Photo</th>
                <th>Small Photo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var photo in photos.Take(5))
            {
                <tr>
                    <td>@photo.ID</td>
                    <td>@photo.AlbumId</td>
                    <td>@photo.Title</td>
                    <td><img src="@photo.URL" /> </td>
                    <td><img src="@photo.ThumbnailUrl" /></td>
                </tr>
            }
        </tbody>
    </table>
}


@code {

}
