@page "/js-example"
@layout EmployeeLayout
@attribute [Authorize(Roles = "admin")]


<h3>JavaScript Example (JsInterop)</h3>

<button class="btn btn-primary" @onclick="() => showAlert()">Show Alert</button>
<br />
<br />
<button class="btn btn-primary" @onclick="() => showPrompt()">Show Prompt</button>
<br />
<br />
<div>===========================================================================</div>
<label>Question: </label>
<input class="form-control" @ref="questionInput" @bind="question" />
<br />
<button class="btn btn-primary" @onclick="() => askQuestion()">Answer Here!</button>
<br />
<span>Answer: @answer</span>
<br />
<br />
<button class="btn btn-primary" @onclick="() => focusOnInputQuestion()">Focus on Question Input</button>
<br />
<br />
<div>===========================================================================</div>
<button class="btn btn-primary" @onclick="() => getRefreshTokenFromSessionStorage()">Get refresh_token from Session Storage </button>
<br />
Refresh Token: @refreshToken
<br />
<br />
<div>===========================================================================</div>
<button class="btn btn-primary" @onclick="() => setEmployeeToSessionStorage()">Set empoyee to Session Storage </button>
<br />
<br />
<button class="btn btn-primary" @onclick="() => getEmployeeFromSessionStorage()">Get employee from Session Storage </button>
<br />
<table>
    <tr>
        <td>ID</td>
        <td>@employee.ID</td>
    </tr>
    <tr>
        <td>First Name</td>
        <td>@employee.FirstName</td>
    </tr>
    <tr>
        <td>Middle Name</td>
        <td>@employee.MiddleName</td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td>@employee.LastName</td>
    </tr>
    <tr>
        <td>Position</td>
        <td>@employee.Position</td>
    </tr>
    <tr>
        <td>Department Number</td>
        <td>@employee.DepartmentNumber</td>
    </tr>
    <tr>
        <td>DOB</td>
        <td>@employee.DateOfBirth</td>
    </tr>
</table>
<br />
<br />
<button class="btn btn-primary" @onclick="() => clear()">Clear Employee</button>




@code {

}
