@using Intel.EmployeeManagement.RazorClassLibrary.Helper

<div id="employeeEditModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="employeeEditModalLabel">Edit Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <EditForm Model="@Employee" OnValidSubmit="@editEmployee">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="firstName" class="form-label my-class">First Name</label>
                        <InputText class="form-control" id="firstName" @bind-Value="@Employee.FirstName" /> <!--With <input ..> validation fires when form is submitted. With <InputText ...> validation fires immediately when you click outside the element-->
                        <ValidationMessage For="() => Employee.FirstName" />
                    </div>
                    <div class="mb-3">
                        <label for="middleName" class="form-label">Middle Name</label>
                        <InputText class="form-control" id="middleName" @bind-Value="@Employee.MiddleName" /> <!-- @bind="" is an override of @bind-value="" with event set to "onchange" @bind-value:event:"onchange" -->
                        <ValidationMessage For="() => Employee.MiddleName" />
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <InputText class="form-control" id="lastName" @bind-Value="@Employee.LastName" />
                        <ValidationMessage For="() => Employee.LastName" />
                    </div>
                    <div class="mb-3">
                        <label for="dateOfBirth" class="form-label">Date Of Birth</label>
                        <InputDate class="form-control" id="dateOfBirth" @bind-Value="@Employee.DateOfBirth" />
                        <ValidationMessage For="() => Employee.DateOfBirth" />
                    </div>
                    <div class="mb-3">
                        <label for="position" class="form-label">Position</label>
                        <InputText class="form-control" id="position" @bind-Value="@Employee.Position" />
                        <ValidationMessage For="() => Employee.Position" />
                    </div>
                    <div class="mb-3">
                        <label for="departmentID" class="form-label">Department ID</label>
                        <InputSelectNumber class="form-control" @bind-Value="Employee.DepartmentID">
                            <option value="0">Select Department</option>
                            @foreach (var department in departments) { 
                                <option value="@department.Key">@department.Key: @department.Value</option>
                            }
                        </InputSelectNumber>
                        <ValidationMessage For="() => Employee.DepartmentID" />
                    </div>
                    <div class="mb-3">
                        <label for="gender" class="form-label">Gender</label>
                        <div>
                            <label class="form-label"><input type="radio" checked="@(Employee.Gender == "M")" @onclick="@(() => Employee.Gender = "M")" />&nbsp;Male</label>
                            &nbsp;
                            <label class="form-label"><input type="radio" checked="@(Employee.Gender == "F")" @onclick="@(() => Employee.Gender = "F")" />&nbsp;Female</label>
                        </div>
                        <ValidationMessage For="() => Employee.Gender" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="() => resetForm()" >Reset</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </EditForm>
        </div>
    </div>
</div>


@code {

}

